<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if title %}
    <title>{{ title }}</title>
{% else %}
<title>Blog</title>
{% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home:home' %}">My blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'posts:articles' %}">Articles</a>
      </li>

{% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cabinet:cabinet' %}">{{ user }}</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
  </li>

{% else %}
<li>
<a class="nav-link" href="{% url 'login' %}">Log in</a>
</li>
<li>
<a class="nav-link" href="{% url 'home:signup' %} ">Register</a>
</li>

{% endif %}
<!-- Search form -->
<form class="form-inline" action="{% url 'posts:search' %}" method="get">

  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" 
  name='srch' type="text" placeholder="Search articles"
      aria-label="Search">
      
</form>
      </ul>
  </div>
</nav>
{% if 'message' %}
<h3>{{ message }}</h3>
{% endif %}
{% block content %}

    <a style="padding: 6px 10px; margin-left: 15px" class="btn btn-xs btn-warning pull-right;" id="listbutton">
      Article list
    </a>

    <div class="col-sm-6 col-md-6 articlelist" >

      <div class="alert alert-warning" style="display: none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

          <strong class="title"></strong>

          <div class='tagsdiv'>
          <a class="tag_link" href="">
            <span class="badge badge-secondary"></span>
          </a>
          </div>

          <hr class="message-inner-separator">

          <p class='content'></p>

          <div class='d-flex flex-row-reverse'>
          <div class="p-2">

            <a href="" style="padding: 1px 2px" class="author btn btn-xs btn-warning pull-right" >
            </a>

          </div>

          <div class="p-2"><span class='postdate' ></span></div>
          </div>
              
      </div>
    </div>

  <nav aria-label="...">
  <ul class="pagination" style="margin-left: 15px">

        <li class="page-item">
        <a class="page-link prev" style="display: none" href="" tabindex="-1">Previous</a>
        </li>

            <li class="page-item active">
      <a class="page-link" href="#" style="display: none"><span class="sr-only">(current)</span></a>
    </li>

    <li class="page-item">
      <a class="page-link next" style="display: none" href="">Next</a>
    </li>

  </ul>
  </nav>

{% endblock %}
  </body>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
 {% block script %}
   {% load static %}
  <script src="{% static 'ajax/ajax.js' %}"></script>
 {% endblock script %}
    
</html>
